/* Footer */


.copyright{
    margin-top: $spacing-xsmall;

    footer{
        display: flex;
        align-content: center;
        background-image: linear-gradient(to right, #4facfe 40%, #00f2fe 60%);
        padding: 40px 0;
        font-size: $text-small;

        .copyright__linea{
            display: inline-block;
            margin: 0px auto;
            color: $text-color;
            font-family: $text-box;
            font-weight: 300;
        }
        .wsp__logo{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 50px;
            transition: 1.5s;

            &:hover{
                transform: scale(1.1, 1.1);
            }
        }  
    }
}