
/* Header */

header{
    margin: 0px 0px;
    padding: 0px 0px;

    .header__nav{
        @include flex(row, center, space-between);

        nav{
            @include flex(row, none, flex-end);
            flex-basis: 60%;
            background-image: linear-gradient(to right, #4facfe 40%, #00f2fe 60%);
            padding: $spacing-small;

            .offcanvas{
                background-image: linear-gradient(to right, #4facfe 40%, #00f2fe 60%);

                .navegacion{
                    @include flex(column, none, space-around);
                    list-style-type: none;
                }
        
                ul li{
                    @include flex(row, none, space-between);
                    margin: $spacing-xsmall;
                    font-size: $text-small;
                
                    a{
                        display: flex;
                        align-items: center;
                        gap: $spacing-xsmall;
                        padding: 1rem 1.2rem;
                        transition: .7s;
                        text-decoration: none;
                        font-family: $text-nav; 
                        font-weight:500 ;
                        color: $text-color;
        
                        &:hover{
                            color: $primary;
                            background-color: $base;
                            border-radius: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    picture a img{
        @include flex(row, none, none);
        width: 20rem;
        margin: 1rem 0;
    }

}