
/* Carrito */

.compras{
    width: 90vw;
    margin: 20rem auto;

    .carrito{
        @include flex(column, none, space-around);
        width: 100%;
        height: 100%;
        border: .5rem;
        background-image: linear-gradient(to right, #4facfe 40%, #00f2fe 60%);
        border-radius: 1rem;
        box-shadow: 1rem 1.5rem 1rem 1rem rgba(0, 0, 0, 0.2), 1rem 3rem 1.5rem 1rem rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: $spacing-small;

        .row{
            align-items: center;
            padding: 4rem  0;
        }
        .row__tot{
            font-size: 2.5rem;
        }
        .tot{
            @include flex(none, none, space-evenly);
        }
        .carrito__img img{
            max-width: 16rem;
        }
        .col {
            p{
                font-size: 2.5rem;
                font-weight: 400;
            }
            label{
                font-size: 2.5rem;
                font-weight: 400;
            }
            input{
                font-size: 1.7rem;
            }
        }
        .col .btn{
            border: none;
            font-size: 2.5rem;
            border-radius: .5rem;
            padding: .5rem 2rem;
            width: 15rem;
            font-weight: bold;
            background-color: $base;
        }
    }
}


@media screen and(max-width: 700px) {

    .compras{
        .carrito{
            flex-direction: column;
    
            & .row{
                flex-direction: column;
            }
            .carrito__img img{
                max-width: 10rem;
            }
        }
    }

}