
/* Productos */

.row-cols-1{
    margin: 20rem auto;

    .card{
        background-color: $alternative;
        
        .card-img-top{
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover{
                transform: scale(1.1, 1.1);
                z-index: 1;
                border-radius: 1rem;
                box-shadow: 1rem 1.5rem 1rem 1rem rgba(0, 0, 0, 0.2), 1rem 3rem 1.5rem 1rem rgba(0, 0, 0, 0.19);
            }
        }
        .card-body{
            font-family: $text-box;
            font-weight: 300;
            font-size: $text-small;

            .card-title{
                font-size: $text-large;
            }

            .btn{
                border: none;
                border-radius: .5rem;
                padding: .5rem 2rem;
                width: 15rem;
                font-weight: bold;
            }
            .btn__comprar{
                @extend .btn;
                background-color: $secondary;
                
                &:hover{
                    background-color: #54c5eb9a;
                }
            }
            .btn__precio{
                @extend .btn;
                background-color: $base;

                &:hover{
                    background-color: #8377d18f;
                }
            }

            .btn__comprar a{
                color: $text-color;
                text-decoration: none;
                border: none;
            }
        }
    }
}
